<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags --><style>
.wrapper {
  height: 100vh;
  /* This part is important for centering the content */
  display: flex;
  align-items: center;
  justify-content: center;
  /* End center */
  background: -webkit-linear-gradient(to right, #834d9b, #d04ed6);
  background: linear-gradient(to right, #834d9b, #d04ed6);
}

.wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  color: #585858;
  font-family: 'Roboto', sans-serif;
}

.modal1 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}

.modal1:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}

.modal {
    background-color: rgba(51,51,51,0.8);
}
</style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
	<title>Repustate IQ | {% block title %}Home{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/assets/css/feather.css" />
    <link rel="stylesheet" href="/static/assets/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="/static/assets/css/bootstrap-multiselect.min.css" />
    <link rel="stylesheet" href="/static/assets/css/tagify.css" />

    <link rel="stylesheet" href="/static/assets/css/style.min.css" />
    <link rel="stylesheet" href="/static/assets/css/apexcharts.css" />

    <script>
        window.Promise ||
            document.write(
                '<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>'
            );
        window.Promise ||
            document.write(
                '<script src="https://cdn.jsdelivr.net/npm/eligrey-classlist-js-polyfill@1.2.20171210/classList.min.js"><\/script>'
            );
        window.Promise ||
            document.write(
                '<script src="https://cdn.jsdelivr.net/npm/findindex_polyfill_mdn"><\/script>'
            );
    </script>

    <script>
        // Replace Math.random() with a pseudo-random number generator to get reproducible results in e2e tests
        // Based on https://gist.github.com/blixt/f17b47c62508be59987b
        var _seed = 42;
        Math.random = function () {
            _seed = (_seed * 16807) % 2147483647;
            return (_seed - 1) / 2147483646;
        };
    </script>

</head>

<body style="position:relative">
    <header>
        <nav class="navbar navbar-expand-lg navbar-main navbar-light ">
			{% if CUSTOM_LOGO %}
				<a href="{% url 'project' %}"><img alt="logo" src="{{ CUSTOM_LOGO.upload.url }}" /></a>
			{% else %}
				<a class="navbar-brand" href="{% url 'project' %}">
					<img src="/static/assets/images/logo-repustate-light.svg"/>
				</a>
			  {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fe fe-menu"></i>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" id="open-create-project-modal" > <i class="fe fe-plus"></i> New Project</a>
                </li>
				{% if not GUEST_USER %}
				<li class="nav-item">
                  <a class="nav-link" href="#" data-toggle="modal" data-target="#export-comments-modal"> <i class="fe fe-activity"></i>Fetch</a>
                </li>
				<li class="nav-item">
                  <a class="nav-link" href="#" data-toggle="modal" data-target="#uploaddata"> <i class="fe fe-upload"></i> Upload</a>
                </li>
				{% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="#" data-toggle="modal" data-target="#exportdata"> <i class="fe fe-download"></i> Export</a>
			    </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'alerts' %}"><i class="fe fe-bell"></i>Alerts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'aspects' %}"><i class="fe fe-hash"></i>Aspects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'sentiment' %}"><i class="fe fe-crosshair"></i>Sentiment</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'entities' %}"><i class="fe fe-globe"></i>Entities</a>
                </li>
              </ul>

			  {% if not GUEST_USER %}
              <div class="header-right-sidebar d-none d-lg-flex align-items-center ">
                <div class="dropdown avatar-dropdown">
                  <a class="menu-avatar d-flex align-items-center dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/static/assets/images/Avatar.svg" alt="">
                    <span>
                        {{user.username}}
                    </span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://repustate.com/payment/myaccount/"><i class="fe fe-user"></i> My Account</a>
                    {% if user.is_staff %}
                    <a class="dropdown-item" href="/admin/"><i class="fe fe-user"></i>Admin</a>
                    {% endif %}
					<a class="dropdown-item" href="{% url 'support' %}"><i class="fe fe-at-sign"></i>Support</a>
                    <a class="dropdown-item" href="/logout/"><i class="fe fe-log-out"></i> Logout</a>
                  </div>
                </div>
                <a href="#" id="lightdark">
                  <i class="fe fe-moon"></i>
                  <i class="fe fe-sun"></i>
                </a>
              </div>
            </div>
			{% endif %}
        </nav>
    </header>

    <div class="sidebar">
        <a href="#" id="sidemenu">
            <i class="fe fe-menu"></i>
        </a>
        <h3>Projects</h3>
        <ul>
            {% for p in projects_data %}
            <li>
				{% if p.name == project.name %}
                    <a href="{% url 'project' p.id %}" class="active"> {{p.name}} </a>
                {% else %}
                    <a href="{% url 'project' p.id %}" > {{p.name}} </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
<!-- Upload-data modal start -->
<div
    class="modal fade"
    id="uploaddata"
    tabindex="-1"
    aria-labelledby="uploaddataLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploaddataLabel">Upload Data</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <i class="fe fe-x-circle"></i>
                </button>
            </div>

            <div class="modal-body">
                <div class="modal-data">
                    <form>
                        <div class="form-group">
                            <label for="selectaspect1" class="form-label" >Select Project</label>
                            <select
                                class="custom-select"
                                id="csv-upload-select-project"
                                aria-placeholder="Choose From Existing Aspects"
                            >
                                {% for element in projects_data %}
                                    {% if element.id == project.id %}
                                    <option value="{{element.id}}" selected>{{element.name}}</option>
                                    {% else %}
                                    <option value="{{element.id}}">{{element.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                        <div class="d-flex flex-wrap align-items-center mt-4">
                            <button class="btn btn-primary" id="csvbox-button">
                                Add Data <i class="fe fe-upload"></i>
                            </button>
                        </div>
                        <script type="text/javascript" src="https://js.csvbox.io/script.js"></script>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://unpkg.com/@flatfile/adapter/build/dist/index.min.js"></script>

<script>
	// Set a global variable for the api host.	
	window.apiHostName = "{{ API_HOST }}";

    document.querySelector("#csvbox-button").addEventListener("click", () => {

        let projectId = document.querySelector("#csv-upload-select-project").value
        const importer = new FlatfileImporter("ff511a50-9e8d-4a04-9421-71d3a16d7f8a", {
            type: "imports",
            fields: [
                {key: "text", label: "Text (required)", validators:[{validate:"required"}]},
				{key: "lang", label: "Language (optional)", 
					validators:[{validate:"regex_matches", regex:'^(?:{{ LANGUAGE_CODES }})$'}]}, 
                {key: "date", label: "Date (optional)",
						validators:[{validate:"regex_matches", 
								     regex:'^[ -~]+$', 
								     error:"Dates must only contain English letters and numbers"}]},
                {key: "url", label: "URL (optional)"},
                {key: "source", label: "Source (optional)"},
                {key: "location", label: "Location (optional)"},
                ],
            managed: true,
			{% if debug %}
            devMode: true,
			{% endif %}
			allowCustom: true,
            {% if not UPLOAD_CSV_FROM_CLIENT %}
            webhookUrl: `{{FLATFILE_URL}}?project-id=${projectId}`
            {% endif %}
        });
        importer.setCustomer({userId: projectId});
        importer.requestDataFromUser().then(function(results) { 
            //console.log(results.headersMatched)
            let data = results.allData
            let headers = []
            let headerObject = {}
            for(let element of results.headersMatched){
                headerObject[element.matched_key] = element.matched_key 
            }
            headers.push(headerObject)
            data = headers.concat(data)
            importer.displaySuccess('Your data has been uploaded')
            {% if UPLOAD_CSV_FROM_CLIENT %}
                fetch("/api/csv/?client=browser&project-id=" + projectId, {
                    method: "POST",
                    body: JSON.stringify(data),
                    credentials: "include"
                }).then(response => {
                    location.reload()
                })
            {% else %}
            location.reload()
            {% endif %}
        })
        .catch((e)=>{
        })
    })
</script>
<!-- upload-data modal End -->

<!-- create-project modal start -->
<div
    class="modal fade"
    id="createproject"
    tabindex="-1"
    aria-labelledby="createprojectLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createprojectLabel">
                    Create New Project
                </h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <i class="fe fe-x-circle"></i>
                </button>
            </div>

            <div class="modal-body">
                <div class="modal-data">
                    <form method="POST" action="{% url 'project' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="projectname" class="form-label"
                                >Name of new project</label
                            >

                            <input
                                type="text"
                                name="project-name"
                                class="form-control"
                                id="projectname"
                                placeholder="Enter Name"
                            />
                        </div>
                        <div class="form-group">
                            <label for="selectaspect" class="form-label"
                                >Select Aspect</label
                            >
                            <select
                                class="custom-select"
                                id="selectaspect"
                                aria-placeholder="Choose From Existing Aspects"
                                name="aspect-id"
                            >
                                <option value="-1">Choose From Existing Aspects</option>
                                <optgroup label="Standard Aspect Models">
                                    {% for aspect in STANDARD_ASPECT_MODELS %}
										<option value="{{aspect.id}}">{{aspect.label}}</option>
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Custom Aspect Models">
                                    {% for aspect in CUSTOM_ASPECT_MODELS %}
										<option value="{{aspect.id}}">{{aspect.label}}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
   
                            <small
                                id="emailHelp"
                                class="form-text extra-text text-right"
                            >
								Don't see the right aspect model? <a href="{% url 'aspects' %}">Create Aspect Model</a>
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="create-project-api-key-select" class="form-label"
                            >Select API key</label
                            >
                            <select
                                class="custom-select"
                                id="create-project-api-key-select"
                                name="api-key"
                            >
                            </select>
                        </div>
                        <div id="create-project-modal-loading"></div>
                        <div class="d-flex flex-wrap align-items-center mt-4">
                            <button type="submit" class="btn btn-primary">
                                Add New Project <i class="fe fe-plus"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade show" id="exportdata" tabindex="-1" aria-labelledby="exportdataLabel" style="display: none; padding-right: 15px;" aria-modal="true" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exportdataLabel">Export Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fe fe-x-circle"></i>
          </button>
        </div>
        <div class="modal-body">
          
          <div class="modal-data">
              <form id="export-form" method="GET" action="/api/export-data/" target="_blank">
                <div class="form-group">
                  <label for="project" class="form-label">Project</label>
                  <select class="custom-select" id="project-export" name="project-id" required>
					  <option value="">-- choose a project --</option>
                   {% for project in projects_data %}
						<option value="{{project.id}}">{{project.name}}</option>
                   {% endfor %}
                  </select>
                </div>
				<div class="form-row">
					<div class="form-group col-6">
					  <label for="chosedate" class="form-label">From</label>
					  <div >  
						<input type="date" class="form-control" name="date-from" placeholder="Choose Date">
					  </div>
					</div>
					<div class="form-group col-6">
					  <label for="chosedate" class="form-label">To</label>
					  <div >  
						<input type="date" class="form-control" name="date-to" placeholder="Choose Date">
					  </div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-6">
					  <label class="form-label">Languages</label>
					  <div>
						  <select name="languages[]" id="languages-export" class="form-control" size="1" multiple="multiple" required>
							  <option value="">-- choose a project --</option>
						  </select>
					  </div>
					</div>
					<div class="form-group col-6">
					  <label class="form-label">Sources</label>
					  <div>
						  <select name="sources[]" id="sources-export" class="form-control" size="1" multiple="multiple" required>
							  <option value="">-- choose a project --</option>
						  </select>
					  </div>
					</div>
				</div>
                <button type="submit" class="btn btn-primary">Download<i class="fe fe-download-cloud"></i>  </button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade show" id="export-comments-modal" tabindex="-1" aria-labelledby="exportdataLabel" style="display: none; padding-right: 15px;" aria-modal="true" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exportdataLabel">Analyze Comments</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fe fe-x-circle"></i>
          </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'export-comments' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="form-label">URL:</label>
                    <input type="text" class="form-control" name="export-comments-url" placeholder="URL">
                </div>
                <div class="form-group">
                    <label for="selectaspect1" class="form-label" >Select Project</label>
                    <select
                        class="custom-select"
                        name="project-id"
                    >
                        {% for element in projects_data %}
                            {% if element.id == project.id %}
                            <option value="{{element.id}}" selected>{{element.name}}</option>
                            {% else %}
                            <option value="{{element.id}}">{{element.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Submit url">
                </div>
            </form>
        </div>
      </div>
    </div>
</div>

<!-- Guest modal message -->
<div class="modal fade show" id="guest-modal-message" tabindex="-1" aria-labelledby="exportdataLabel" style="display: none; padding-right: 15px;" aria-modal="true" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exportdataLabel">Guest Mode</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fe fe-x-circle"></i>
          </button>
        </div>
        <div class="modal-body">
          
          <div class="modal-data">
              <div>This account is read mode only</div>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- Guest message modal end -->

    <!-- js -->
    <!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
    <script src="/static/assets/js/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="/static/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/assets/js/bootstrap-multiselect.min.js"></script>
    <script src="/static/assets/js/jQuery.tagify.min.js"></script>
    {% if GUEST_USER %}
    <script src="/static/assets/js/dashboard-guest.js"></script>
    {% else %}
    <script src="/static/assets/js/dashboard.js"></script>
    {% endif %}

    <script>
        // if IE, add IE tagify's polyfills
        !(function (d) {
            if (!d.currentScript) {
                var s = d.createElement("script");
                s.src = "/static/assets/js/tagify.polyfills.min.js";
                d.head.appendChild(s);
            }
        })(document);
    </script>
{% if messages %}
   {% for message in messages %}
	   {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert  alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div> 
       {% endif %}
    {% endfor %}
{% endif %}

    {% block content %}
    {% endblock %}
 
  <script>
    // if IE, add IE tagify's polyfills
    !function( d ) {
        if( !d.currentScript ){
            var s = d.createElement( 'script' );
            s.src = 'js/tagify.polyfills.min.js';
            d.head.appendChild( s );
        }
    }(document)
</script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script>
        $("sandbox-container input").datepicker({
            todayHighlight: true,
        });
    </script>
    <script>
        $("#lightdark").click(function () {
            $("body").toggleClass("dark-theme");
        });
    </script>
    <script>
        $("#lightdark1").click(function () {
            $("body").toggleClass("dark-theme");
        });
    </script>
    <script>
        $("#sidemenu").click(function () {
            $("body").toggleClass("menu-close");
        });
    </script>
<!--       <script data-name="basic">
        (function () {
            // The DOM element you wish to replace with Tagify
            var input = document.querySelector(".tagify");

            // initialize Tagify on the above input node reference
            new Tagify(input,{
                originalInputValueFormat: valuesArr => valuesArr.map(item => item.value).join(',')
            });
        })();
    </script> -->

    <script>
		document.getElementById("project-export").addEventListener("change", (e) => {
			let projectId = e.target.value;
			fetch("/api/sources-and-languages-per-project/" + projectId + "/", {
				method: "GET",
				credentials: "include"
			}).then((response) => response.json()).then((data) => {
				let langChoice = document.getElementById('languages-export');
				langChoice.innerHTML = '<option value="multiselect-all">Select all</option>';
				data.languages.forEach((el) => {
					langChoice.innerHTML += `
					   <option value="${el.code}">${el.label}</option>
					`
				});
				$('#languages-export').multiselect('destroy');
				$('#languages-export').multiselect({includeSelectAllOption: true, maxHeight:400});

				let sourceChoice = document.getElementById('sources-export');
				sourceChoice.innerHTML = '<option value="multiselect-all">Select all</option>';
				data.sources.forEach((el) => {
					sourceChoice.innerHTML += `
					   <option value="${el.id}">${el.label}</option>
					`
				})
				$('#sources-export').multiselect('destroy');
				$('#sources-export').multiselect({includeSelectAllOption: true, maxHeight:400});
			})
		});

        document.querySelectorAll(".check-all-without-reload").forEach((element) => {
            element.addEventListener("click", (e)=> {
                let parent = e.target.parentNode.parentNode
                parent.querySelectorAll("input").forEach((input) => {
                    input.checked = true
                })
            })
        })

        document.querySelectorAll(".uncheck-all-without-reload").forEach((element) => {
            element.addEventListener("click", (e)=> {
                let parent = e.target.parentNode.parentNode
                parent.querySelectorAll("input").forEach((input) => {
                    input.checked = false
                })
            })
        })
    </script>

</body>
</html>
