__pycache__/
*.py[cod]
*.pytest_cache
.coverage

*.db
*.sqlite3
*.log

env
venv
example_data

.DS_Store
package-lock.json

staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json



settings_local.py