__pycache__/
*.py[cod]
*.pytest_cache
.coverage

*.db
*.sqlite3
*.log
.env.prod
.env.prod.db
.env.dev

env
venv


.DS_Store
package-lock.json

staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json


.twitter_keys.yaml

settings_local.py

scrapers/data/
tmp/

node_modules/
.idea
media_root
database/