__pycache__/
*.py[cod]
*.pytest_cache
.coverage

*.db
*.sqlite3
*.log
.env.prod
.env
.env.prod.db
.env.dev

env
venv


.DS_Store
package-lock.json

staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json


.twitter_keys.yaml

settings_local.py

scrapers/data/
tmp/

node_modules/
.idea
media_root
database/
dashboard/static/assets/js/project-details.js
dashboard/static/assets/js/dashboard.js
dashboard/static/assets/js/dashboard-guest.js
dashboard/static/assets/js/sentiment.js
dashboard/static/assets/js/aspect.js
dashboard/static/assets/js/aspect-guest.js
dashboard/static/assets/js/sentiment-guest.js
dashboard/static/assets/js/alerts.js
dashboard/static/assets/js/alerts-guest.js
dashboard/static/assets/js/entity.js
dashboard/static/assets/js/entity-guest.js
dashboard/static/assets/js/120.js
dashboard/static/assets/js/120.js.LICENSE.txt
.env
firebase-credentials.json

database-backup/
data.csv
**.map
**vendors-node_modules**
./logs
