<div
    class="modal fade"
    id="test-aspect-modal"
    tabindex="-1"
    aria-label="testaspectLabel"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Test Aspect</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <i
                        class="fe fe-x-circle"
                        onclick="closeTestAspectModal()"
                    ></i>
                </button>
            </div>
            <div class="modal-body" style="overflow-y:visible;position:relative">
                <div class="modal-data">
                    <form method="POST" action="/sentiment/" id="test-aspect-model-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="form-label">Aspect Model</label>
                            <select class="custom-select" name="aspect-model">
                                <optgroup label="Standard Aspect Models">
                                    {% for aspect in STANDARD_ASPECT_MODELS %}
                                            <option value="{{aspect.id}}">{{aspect.label}}</option>
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Custom Aspect Models">
                                    {% for aspect in CUSTOM_ASPECT_MODELS %}
										<option value="{{aspect.id}}">{{aspect.label}} ({{ aspect.language }})</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Language</label>
                            <select class="custom-select" name="text-language">
                                {% for language in languages %}
                                <option value="{{language.0}}">{{language.1}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="aspect-name" class="form-label">Sample Text</label>
                            <textarea
                                name="test-aspect-model-text"
                                class="form-control"
								placeholder="Enter some sample text to test your aspect models"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="test-aspect-api-key-select" class="form-label"
                            >API key</label
                            >
                            <select
                                class="custom-select"
                                id="test-aspect-api-key-select"
                                name="api-key"
                            >
							{% include 'includes/apikeys.html' %}
                            </select>
                        </div>
                        <div id="test-aspect-modal-loading"></div>
                        <div id="test-aspect-model-score">
                            
                        </div>

<!--                         <input type="hidden" name = "_method" value="PUT"></input> -->
                        <button type="submit" class="btn btn-primary mt-2">
                            Test Aspect
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector("#test-aspect-model-form").addEventListener("submit", (e)=>{
        e.preventDefault()
        let formData = new FormData(e.currentTarget)
        let scoreDiv = document.querySelector("#test-aspect-model-score")
        scoreDiv.innerHTML = "Loading..."
        fetch("/api/test-aspect-model/", {
            method: 'post',
            body: formData
        }).then(response => {
            if(response.status == 200){
                scoreDiv.innerHTML = ""
                tableHTML=
                `
                <div class="row">
                    <div class="col-12 project-card">
                        <div class="project-card-inner">
                            <div class="data-table table-responsive">
                                <table class="mb-5 table table-striped table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Aspect</th>
                                            <th>Topic</th>
                                            <th>Text</th>
                                            <th>Sentiment</th>
                                        </tr>
                                    </thead>
                                    <tbody id="aspect-model-test-body-table">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                `
                response.json().then(data=>{
                    scoreDiv.innerHTML = tableHTML
                    delete data.status
                    let tableBody = document.querySelector("#aspect-model-test-body-table")
                    for(element in data){
                        for(aux of data[element]){
                            let row = document.createElement("tr")
                            row.innerHTML = 
                            `
                            <td>${element}</td>
                            <td>${aux.sentiment_topic}</td>
                            <td>${aux.chunk}</td>
                            <td>${aux.score}</td>
                            `
                            tableBody.append(row)
                        }
                    }
                })
            } else {
                scoreDiv.innerHTML = ""
                response.json().then(data=>{
                    alert(data.description)
                })
            }
        })
    })
</script>
