<div
    class="modal fade show"
    id="test-aspect-modal"
    tabindex="-1"
    aria-label="createaspectLabel"
    style="z-index: 100;overflow-y:scroll;"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Test Aspect</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <i
                        class="fe fe-x-circle"
                        onclick="closeTestAspectModal()"
                    ></i>
                </button>
            </div>
            <div class="modal-body" style="overflow-y:visible;position:relative">
                <div class="modal-data">
                    <form method="POST" action="/sentiment/" id="test-aspect-model-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="form-label">Aspect Model</label>
                            <select class="custom-select" name="aspect-model">
                                {% for aspect in all_aspects %}
                                <option value="{{aspect.id}}">{{aspect.label}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Language</label>
                            <select class="custom-select" name="text-language">
                                {% for language in languages %}
                                <option value="{{language.0}}">{{language.1}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="aspect-name" class="form-label">Sample Text</label>
                            <input
                                name="test-aspect-model-text"
                                type="text"
                                class="form-control"
                                placeholder="Enter some sample text to test your aspect models"
                            />
                        </div>
                        <div id="test-aspect-model-score">
                            
                        </div>
<!--                         <input type="hidden" name = "_method" value="PUT"></input> -->
                        <button type="submit" class="btn btn-primary mt-2">
                            Test Aspect
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector("#test-aspect-model-form").addEventListener("submit", (e)=>{
        e.preventDefault()
        let formData = new FormData(e.currentTarget)
        let scoreDiv = document.querySelector("#test-aspect-model-score")
        scoreDiv.innerHTML = "Loading..."
        fetch("/api/test-aspect-model/", {
            method: 'post',
            body: formData
        }).then(response => {
            if(response.status == 200){
                scoreDiv.innerHTML = ""
                response.json().then(data=>{
                    delete data.status
                    for(element in data){
                        console.log(data)
                        let score = data[element][0]["score"]
                        let sentimentTopic = data[element][0]["sentiment_topic"]
                        let div = document.createElement("div")
                        let html = `
                        <hr>
                        Sentiment Topic: ${sentimentTopic}<br>
                        Score: ${score}
                        `
                        div.innerHTML = html
                        scoreDiv.append(div)
                    }
                })
            } else {
                scoreDiv.innerHTML = ""
                response.json().then(data=>{
                    alert(data.description)
                })
            }
        })
    })
</script>