<div class="col-12 project-card" id="aspect-graph" data-role="graph-table-container" data-graph-table="aspect-count">
    <div class="project-card-inner">
      <div class="chart-title  align-items-center d-flex flex-wrap">
        <h4>Aspects - Total Volume<a href="#" data-toggle="tooltip" data-placement="top" title="Aspects sorted by frequency of occurence">
            <i class="fe fe-help-circle"></i>
          </a> </h4>
      </div>
      <div class="aspects-list">
        <ul class="flex-wrap" id="aspect-count-graphs">
        </ul>
      </div>
    </div>
</div>
