<div class="col-12 project-card" data-role="graph-table-container" data-graph-table="aspect-co-occurrence">
    <div class="project-card-inner">
      <div class="chart-title  align-items-center d-flex flex-wrap">
        <h4>Aspect Co-occurrence (last 30 days of data) <a href="#" data-toggle="tooltip" data-placement="top" title="Need help?">
            <i class="fe fe-help-circle"></i>
          </a> </h4>
      </div>
      <div class="chart-wrap">
        <div id="co-occurrence-graph" >
        </div>
      </div>
    </div>
</div>