<div class="col-12 project-card" data-role="graph-table-container" data-graph-table="aspect-by-sentiment-absolute">
    <div class="project-card-inner">
      <div class="chart-title  align-items-center d-flex flex-wrap">
        <h4>Aspect By Sentiment <a href="#" data-toggle="tooltip" data-placement="top" title="Positive and negative sentiment for each aspect, sorted by most frequently occuring aspect">
            <i class="fe fe-help-circle"></i>
          </a> </h4>
          <div class="per-page align-items-center d-flex" style="margin-left: auto;">
            Max Aspects <select class="custom-select" id="aspect-by-sentiment-absolute-limit">
              <option value="10" selected>10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="25">25</option>
              <option value="all">All</option>
            </select> 
        </div>
      </div>
      <div class="chart-wrap">
        <div id="aspect-by-sentiment-absolute" >
        </div>
      </div>
    </div>
</div>
