<div class="col-12 project-card" id="aspect-graph" data-role="graph-table-container" data-graph-table="emotion-aspect-co-occurrence">
    <div class="project-card-inner">
      <div class="chart-title  align-items-center d-flex flex-wrap">
        <h4>Emotion Aspect Co-occurrence<a href="#" data-toggle="tooltip" data-placement="top" title="For each emotion found, the percentage of time that each aspect also occurs with that emotion">
            <i class="fe fe-help-circle"></i>
          </a> </h4>
        <div class="per-page align-items-center d-flex" style="margin-left:auto">
            Top Emotions <select class="custom-select" id="emotion-aspect-co-occurrence-max-emotions">
                <option value="5" selected>5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select> 
        </div>
      </div>
      <div class="aspects-list">
        <ul class="flex-wrap" id="emotion-aspect-co-occurrence">
        </ul>
      </div>
    </div>
</div>
