<div class="col-12 project-card" data-role="graph-table-container" data-graph-table="most-common-chunks" id="most-common-chunks-graph" style="display:none">
    <div class="project-card-inner">
      <div class="chart-title  align-items-center d-flex flex-wrap">
        <h4>What people are saying<a href="#" data-toggle="tooltip" data-placement="top" title="What people are saying">
            <i class="fe fe-help-circle"></i>
          </a> </h4>
      </div>
      <div class="chart-wrap">
        <div id="most-common-chunks" >
        </div>
      </div>
    </div>
</div>
