<div class="col-12 col-lg-4 project-card" id="overall-graph" data-role="graph-table-container" data-graph-table="overall-sentiment">
    <div class="row">
      <div class="col-12 pb-3 ">
        <div class="project-card-inner">
          <div class="chart-title pb-0 mb-3 border-0 ">
            <h4>Overall Sentiment <a href="#" data-toggle="tooltip" data-placement="top" title="Need help?">
                <i class="fe fe-help-circle"></i>
              </a> </h4>


          </div>

      <div class="chart-wrap">
          <div id="overall-sentiment-chart"></div>
      </div>
        </div>
        <div class="col-6">
            <div class="project-card-inner">
                <div class="simple-data">
                    <i class="fe fe-hash"></i>
                    <h2 id="aspect-count"></h2>
                    <span id="overall-sentiment-different-aspects"> </span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="project-card-inner">
                <div class="simple-data">
                    <i class="fe fe-command"></i>
                    <h2 id="source-count"></h2>
                    <span id="overall-sentiment-different-sources"> </span>
                </div>
            </div>
        </div>
    </div>
</div>
