<div class="col-12 project-card h-100" data-role="graph-table-container" data-graph-table="scoreboard">
    <div class="project-card-inner">
      <div class="chart-title  align-items-center d-flex flex-wrap">
        <h4>Scoreboard</h4>
      </div>
      <div class="chart-wrap">
        <div id="scoreboard" class="row" >
            <div class="col-6">
                <h5>Score</h5>
                <div class="col-12 d-flex flex-column h-100" >
                    <div class="row d-flex justify-content-center">
                        <h3 id="scoreboard-score"></h3>
                    </div>
                    <div class="row mt-auto align-self-center mb-1">
                        <p id="scoreboard-max-score"></p>
                    </div>
                </div>
            
            </div>
            <div class="col-6">
                <h5>Weights</h5>
                <div class="col-12" id="scoreboard-weight"></div>
            </div>
        </div>
      </div>
    </div>
</div>
