<div class="col-12 col-lg-8 project-card" data-role="graph-table-container" data-graph-table="sentiment-trend">
    <div class="project-card-inner">
      <div class="chart-title  align-items-center d-flex flex-wrap">
        <h4 class="col p-0 ">Sentiment
          Trend <a href="#" data-toggle="tooltip" data-placement="top" title="Need help?">
            <i class="fe fe-help-circle"></i>
          </a> </h4>
        <div class="col-auto ml-auto p-0">
          <div class="row">
            <div class="col chart-total-data">
              <h2 id="sentiment-trend-total">0</h2>
              <span>Total</span>
            </div>
            <div class="col chart-positive-data">
              <h2 id="sentiment-trend-total-positives">0</h2>
              <span>Positives</span>
            </div>
            <div class="col chart-negative-data">
              <h2 id="sentiment-trend-total-negatives">0</h2>
              <span>Negatives</span>
            </div>
          </div>
        </div>

      </div>
      <div class="chart-wrap">
        <div id="sentiment-trend-graph" >

        </div>
      </div>
    </div>
  </div>