<div class="col-6 project-card h-100" data-role="graph-table-container" data-graph-table="volume-by-source">
    <div class="project-card-inner">
      <div class="chart-title  align-items-center d-flex flex-wrap">
        <h4>Volume By Source <a href="#" data-toggle="tooltip" data-placement="top" title="Total data items per source">
            <i class="fe fe-help-circle"></i>
          </a> </h4>
      </div>
      <div class="chart-wrap">
        <div id="volume-by-source" >
        </div>
      </div>
    </div>
</div>
