<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "{{FIREBASE_API_KEY}}",
        authDomain: "{{FIREBASE_AUTH_DOMAIN}}",
        projectId: "{{FIREBASE_PROJECT_ID}}",
        storageBucket: "{{FIREBASE_STORAGE_BUKCET}}",
        messagingSenderId: "{{FIREBASE_MESSAGING_SENDER_ID}}",
        appId: "{{FIREBASE_APP_ID}}"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    document.querySelector("#login-form").addEventListener("submit", (e) => {
        e.preventDefault()
        let email = document.querySelector("#inputEmail").value
        let password = document.querySelector("#inputPassword").value
        firebase.auth().signInWithEmailAndPassword(email, password)
        .then((userCredential) => {
            // Signed in
            var user = userCredential.user;
            // ...
            firebase.auth().currentUser.getIdToken()
            .then((idToken) => {
                /*             let xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
                            xmlhttp.open("POST", "/firebase-login/");
                            xmlhttp.setRequestHeader("Content-Type", "application/json");
                            xmlhttp.onreadystatechange = function () {
                                if (this.readyState == 4) {
                                    window.location = this.responseText
                                }
                            };

                            xmlhttp.send(JSON.stringify({token:idToken})); */
                fetch("/firebase-login/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ token: idToken }),
                    credentials: "include"
                })
                .then(response => response.json())
                .then(data => {
                    window.location = data.url
                })

            })

        })
        .catch((error) => {
            fetch("/firebase-login/?" + new URLSearchParams(
                    { "user": email,
                    "password": password
                }), { method: "POST",credentials:"include" })
            .then(response => response.json())
            .then(data => {
                window.location = data.url
            })
            .catch(()=>{
                alert("Login error")
            })
        })
    })
</script>
