<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
  <div class="c-sidebar-brand d-lg-down-none">

    <img class='c-sidebar-brand-full' width="200" height="75" src="/static/assets/brand/logo-repustate-light.svg#full"
      alt="Repustate">
  </div>

  <ul class="c-sidebar-nav">
    {% if project_list %}
    <li class="c-sidebar-nav-title">Projects</li>

    {%for project in project_list %}

    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/projects/{{project.id}}/">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-3d"></use>
        </svg> {{project.name}} </a></li>


    {%endfor%}
    {%endif%}

    <li class="c-sidebar-nav-divider"></li>
    <li class="c-sidebar-nav-title">System</li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href={% url 'logout' %}>
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
        </svg> Logout</a></li>
  </ul>
  </li>
  <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent"
    data-class="c-sidebar-minimized"></button>
</div>
