<div class="modal " id="edit-data-item-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete this project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="col-12 form-group">
                <label>Text</label>
                <textarea rows="3" class="form-control" id="edit-data-item-modal-text" placeholder="Text">
                </textarea>
            </div>
            <div class="col-12 form-group">
                <label>Sentiment</label>
                <input type="number" class="form-control" min="-1" max="1" step="0.01" id="edit-data-item-modal-sentiment">
            </div>
            <div class="col-12 form-group">
                <label>Language</label>
                <select type="dropdown" class="form-control" id="edit-data-item-modal-language">
                    {% for language in languages %}
                    <option value="{{language.0}}">{{language.1}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" id="edit-data-item-modal-id">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="edit-data-item-modal-save-and-close">Save and Close</button>
          <form id="delete-form" method="delete" action="{% url 'delete-project' project_id=project.id %}"></form>
        </div>
      </div>
    </div>
</div>