<div class="ml-0 ml-md-auto">
    <form>
        <div class="form-row align-items-center">
			<div class="col-auto" style="display:flex;flex-direction:row">
				<input type="date" class="form-control" id="date-from" value="{{default_date_from}}">
			</div>
			<div class="col-auto" style="display:flex;flex-direction:row">
				<label style="display:flex;justify-content:center;align-items:center;margin-right:.5rem">To:</label>
				<input type="date" class="form-control" id="date-to" value="{{default_date_to}}">
			</div>
			<div class="col-auto">
				<select id="languages-filter" name="languages[]" multiple size="1">
					{% for language in languages %}
						<option value="{{ language.0 }}">{{ language.1 }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-auto">
				<select id="sources-filter" name="sources[]" multiple size="1">
					{% for source in sources %}
						<option value="{{ source.sourceID }}">{{ source.sourceLabel }}</option>
					{% endfor %}
				</select>
			</div>
			{% if more_filters|length %}
			<div class="col-auto">
				<a class="btn btn-secondary" id="open-more-filters-modal"><i class="fe fe-more-horizontal"></i></a>
			</div>
			{% endif %}
			<script>
				$('#languages-filter').multiselect({
					includeSelectAllOption: true,
					maxHeight:400,
					buttonText: function(options) {
						if (options.length == 0) {
						  return 'Languages';
						}
						else if (options.length > 6) {
						  return options.length + ' selected';
						}
						else {
						  var selected = '';
						  options.each(function() {
							selected += $(this).text() + ', ';
						  });
						  return selected.substr(0, selected.length -2);
						}
					}
				});
				$('#sources-filter').multiselect({
					includeSelectAllOption: true,
					maxHeight:400,
					buttonText: function(options) {
						if (options.length == 0) {
						  return 'Sources';
						}
						else if (options.length > 6) {
						  return options.length + ' selected';
						}
						else {
						  var selected = '';
						  options.each(function() {
							selected += $(this).text() + ', ';
						  });
						  return selected.substr(0, selected.length -2);
						}
					}
				});
			</script>
        </div>
    </form>
</div>
