{% extends "layouts/base-fullscreen.html" %}

{% block title %} Permission Denied {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row justify-content-center">
      <div class="col-md-6">
          <h1 class="mr-4">HTTP 403 - Permission Denied</h1>
		  <p>
			<a href="/">BACK TO HOME</a>
          </p>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
