{% extends "layouts/base.html" %}

{% block title %} {{ project.name }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock stylesheets %}

{% block content %}

<main class="c-main">
    {% if chart %}

    <script>
        var a = '{{ chart|escapejs }}'
    </script>

    <div class="container-fluid">
        <div class="fade-in">
            <div class="card">
                <div class="card-header">Aspect sentiment</div>
                <div class="card-body">
                    <div class="c-chart-wrapper">
                        <canvas id="aspect_s"></canvas>
                    </div>
                </div>
            </div>
            <!-- <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h4 class="card-title mb-0">Sentiment</h4>
                            <div class="small text-muted">Timeline</div>
                        </div>
                        <div class="btn-toolbar d-none d-md-block" role="toolbar" aria-label="Toolbar with buttons">
                            <div class="btn-group btn-group-toggle mx-3" data-toggle="buttons">
                                <label class="btn btn-outline-secondary">
                                    <input id="option1" type="radio" name="options" autocomplete="off"> Day
                                </label>
                                <label class="btn btn-outline-secondary active">
                                    <input id="option2" type="radio" name="options" autocomplete="off" checked=""> Month
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input id="option3" type="radio" name="options" autocomplete="off"> Year
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="c-chart-wrapper" style="height:300px;margin-top:40px;">
                        <canvas class="chart" id="sentiment_t" height="300"></canvas>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row text-center">
                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <div class="text-muted">negative</div><strong>N of documents (20%)</strong>
                            <div class="progress progress-xs mt-2">
                                <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 20%"
                                    aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <div class="text-muted">Neutral</div><strong>N of doc (20%)</strong>
                            <div class="progress progress-xs mt-2">
                                <div class="progress-bar bg-gradient-info" role="progressbar" style="width: 20%"
                                    aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <div class="text-muted">Positive</div><strong>N of Docs (60%)</strong>
                            <div class="progress progress-xs mt-2">
                                <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 60%"
                                    aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="card-columns cols-2">
                <div class="card">
                    <div class="card-header">Sentiment Overview</div>
                    <div class="card-body">
                        <div class="c-chart-wrapper">
                            <canvas id="sentiment_f"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Aspect use over time</div>
                    <div class="card-body"></div>
                        <div class="c-chart-wrapper">
                            <canvas id="aspect_t"></canvas>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="card-columns cols-2">
                <div class="card">
                    <div class="card-header">Aspect frequency</div>
                    <div class="card-body">
                        <div class="c-chart-wrapper">
                            <canvas id="aspect_f"></canvas>
                        </div>
                    </div>
                </div>
            </div>
	    <div class="card mt-3">
		<div class="card-header">Entities</div>
		<div class="card-body">
		    <div class="c-chart-wrapper">
			<table id="entities" class="display" style="width:100%">
			    <thead>
				<tr>
				    <th>Entity</th>
				    <th>Classifications</th>
				    <th>Frequency</th>
				</tr>
			    </thead>
			</table>
		    </div>
		</div>
	    </div>
        </div>
    </div>
    {%else%}
    <script>
        var a = '{}' 
    </script>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="clearfix">
                <h4 class="float-left display-3 mr-4">No data</h4>
                </p>
            </div>
        </div>
    </div>
    {%endif%}
</main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    {%if chart %}
	<script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.bundle.js"></script>
	<script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
	<script src="/static/assets/js/charts.js"></script>

	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

	<script type="text/javascript">
	    $(function() {
		$('#entities').DataTable( {
		    "ajax": "{% url 'entities' project.id %}?{{ query_string }}",
		    "order": [[2, "desc"]],
		    "columnDefs": [
			{
			    // The `data` parameter refers to the data for the cell (defined by the
			    // `data` option, which defaults to the column being worked with, in
			    // this case `data: 0`.
			    "render": function ( data, type, row ) {
				return "<a href='?entity="+data+"'>"+data+"</a>";
			    },
			    "targets": 0
			}
		    ]
		});
		$('input[name="daterange"]').daterangepicker({
		    opens: 'left'
		    }, function(start, end, label) {
			const urlParams = new URLSearchParams(window.location.search);
			urlParams.set('start', start.format('YYYY-MM-DD'));
			urlParams.set('end', end.format('YYYY-MM-DD'));
			window.location.href = window.location.origin + window.location.pathname + '?' + urlParams.toString();
		    });
	     });
	</script>
    {%endif%}
{% endblock javascripts %}
