{% extends "layouts/base.html" %}

{% block title %} {{ project.name }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock stylesheets %}

{% block content %}

<main class="c-main">
    {% if chart_data %}

    <script>
	var project_data = {{ chart_data|safe }};
    </script>

    <div class="container-fluid">
        <div class="fade-in">
            <div class="card">
                <div class="card-header">Aspect Sentiment</div>
                <div class="card-body">
                    <div class="c-chart-wrapper">
                        <canvas id="aspect_s"></canvas>
                    </div>
                </div>
            </div>
            <div class="card-columns cols-2">
                <div class="card">
                    <div class="card-header">Sentiment Overview</div>
                    <div class="card-body">
                        <div class="c-chart-wrapper">
                            <canvas id="sentiment_f"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Aspect/Time</div>
                    <div class="card-body">
                        <div class="c-chart-wrapper">
                            <canvas id="aspect_t"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-columns cols-2">
                <div class="card">
                    <div class="card-header">Sentiment/Time</div>
                    <div class="card-body">
                        <div class="c-chart-wrapper">
                            <canvas id="sentiment_t"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Aspect </div>
                    <div class="card-body">
                        <div class="c-chart-wrapper">
                            <canvas id="aspect_f"></canvas>
                        </div>
                    </div>
                </div>
            </div>
	   
        </div>
	    <div class="card mt-3">
		<div class="card-header">Sentiment by source</div>
		<div class="card-body">
		    <div class="c-chart-wrapper">
			<canvas id="sentiment_source"></canvas>
		    </div>
		</div>
	    </div>
	    <div class="card mt-3">
		<div class="card-header">Entities</div>
		<div class="card-body">
		    <div class="c-chart-wrapper">
			<table id="entities" class="display" style="width:100%">
			    <thead>
				<tr>
				    <th>Entity</th>
				    <th>Classifications</th>
				    <th>Frequency</th>
				</tr>
			    </thead>
			</table>
		    </div>
		</div>
	    </div>
	    <div class="card mt-3">
		<div class="card-header">Emotion &amp; Entities</div>
		<div class="card-body">
		    <div class="c-chart-wrapper">
			<div id="emotion-map"></div>
		    </div>
		</div>
	    </div>
        </div>
    </div>
    {%else%}
    <script>
	var project_data = {};
    </script>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="clearfix">
                <h4 class="float-left display-3 mr-4">No data</h4>
                </p>
            </div>
        </div>
    </div>
    {%endif%}
</main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    {%if chart_data %}
	<script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.bundle.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
	<script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
	<script src="/static/assets/js/charts.js"></script>

	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/heatmap.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>

	<script type="text/javascript">
	    $(function() {
		$('#entities').DataTable( {
		    "ajax": "{% url 'entities' project.id %}?{{ query_string }}",
		    "order": [[2, "desc"]],
		    "columnDefs": [
			{
			    // The `data` parameter refers to the data for the cell (defined by the
			    // `data` option, which defaults to the column being worked with, in
			    // this case `data: 0`.
			    "render": function ( data, type, row ) {
				return "<a href='?entity="+data+"'>"+data+"</a>";
			    },
			    "targets": 0
			}
		    ]
		});

		var start = moment().subtract(29, 'days');
		var end = moment();

		$('input[name="daterange"]').daterangepicker({
		    opens: 'left',
		    startDate:'{{ start_date|date:"m-d-Y" }}',
		    endDate:'{{ end_date|date:"m-d-Y" }}',
		    }, function(start, end, label) {
			const urlParams = new URLSearchParams(window.location.search);
			urlParams.set('start', start.format('YYYY-MM-DD'));
			urlParams.set('end', end.format('YYYY-MM-DD'));
			window.location.href = window.location.origin + window.location.pathname + '?' + urlParams.toString();
		    });
	     });
	</script>

	<script type="text/javascript">
	    Highcharts.chart('emotion-map', {

		chart: {
		    type: 'heatmap',
		    marginTop: 40,
		    marginBottom: 140,
		    plotBorderWidth: 1
		},
		
		title: {
		    text: 'Emotion expressed by entity'
		},

		xAxis: {
		    categories: project.entities_for_emotions
		},

		yAxis: {
		    categories: project.emotions,
		    title: null,
		    reversed: true
		},

		colorAxis: {
		    min: 0,
		    minColor: '#FFFFFF',
		    maxColor: Highcharts.getOptions().colors[0]
		},

		legend: {
		    align: 'right',
		    layout: 'vertical',
		    margin: 0,
		    verticalAlign: 'top',
		    y: 25,
		    symbolHeight: 280
		},

		 tooltip: {
		    formatter: function () {
			return '<b>' + this.point.value + '</b>';
		    }
		},

		series: [{
		    name: 'Mentions',
		    data: [[0, 0, 10], [0, 1, 19], [0, 2, 8], [0, 3, 24], [0, 4, 67], [1, 0, 92], [1, 1, 58], [1, 2, 78], [1, 3, 117], [1, 4, 48], [2, 0, 35], [2, 1, 15], [2, 2, 123], [2, 3, 64], [2, 4, 52], [3, 0, 72], [3, 1, 132], [3, 2, 114], [3, 3, 19], [3, 4, 16], [4, 0, 38], [4, 1, 5], [4, 2, 8], [4, 3, 117], [4, 4, 115], [5, 0, 88], [5, 1, 32], [5, 2, 12], [5, 3, 6], [5, 4, 120], [6, 0, 13], [6, 1, 44], [6, 2, 88], [6, 3, 98], [6, 4, 96], [7, 0, 31], [7, 1, 1], [7, 2, 82], [7, 3, 32], [7, 4, 30], [8, 0, 85], [8, 1, 97], [8, 2, 123], [8, 3, 64], [8, 4, 84], [9, 0, 47], [9, 1, 114], [9, 2, 31], [9, 3, 48], [9, 4, 91]],
		    dataLabels: {
			enabled: false,
			style: {
			    fontWeight: 'bold',
			    textOutline: ''
			}
		    }
		}],
	    }
	)
	</script>
    {%endif%}
{% endblock javascripts %}
