{% extends 'layouts/new-base.html' %}

{% load markdownify %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
	<script>
	  window.project_id = {{ project.id|safe }}
	  {% if project.geo_enabled %}
	  window.geo_enabled = true;
	  {% endif %}
	</script>

  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
            </div>
        <div class="col-12">
          <div class="porject-title align-items-center d-flex flex-wrap">
                <div class="dashboard-title d-flex flex-wrap">
                    {{ project.name }} 
                </div>
            <a href="#" class="all-data" id="see-all-total-items"></a>
            {% include "includes/project-details/filters.html" %}
          </div>

          <div class="project-menu" style="display:flex; flex-direction: row;">
            <ul class="d-flex flex-wrap" id="graph-tabs">
                <li>
                    <a style="cursor:pointer;" class="active" id="overview-tab">Overview</a>
                </li>
                <li id="li-aspect-tab">
                </li>
                <li id="li-entity-tab">
                </li>
				{% if project.geo_enabled %}
                <li id="li-geo-tab">
					<a style="cursor:pointer;" id="geo-tab">Geodata</a>
                </li>
				{% endif %}
            </ul>
            <div style="margin-left:auto; margin-right:1rem;display:flex;justify-content: center; align-content: center;flex-direction: column;" id="tab-loading">Loading...</div>
            <div class="col-auto">
                <div class="data-search"  style="padding:0;height:100%;">
                  <input id="text-search" type="text" class="form-control " placeholder="Search" style="height:100%;">
                </div>
            </div>
			{% if not GUEST_USER %}
            <ul class="d-flex flex-wrap" id="admin-tabs">
				<li><a title="user management" href="#">User Access</a></li>
				<li><a data-toggle="modal" data-target="#deleteModal" title="delete project" href="#">Delete <i class="fe fe-trash-2"></i></a></li>
			</ul>
			{% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 project-card" data-role="graph-table-container" data-graph-table="word-cloud">
            <div class="project-card-inner">
                <div class="chart-title align-items-center d-flex flex-wrap">
                    <h4 class="col p-0">Word Cloud</h4>
                    <div class="col-auto p-0 d-flex flex-wrap ">
                        <div class="per-page align-items-center d-flex">
                        </div>
<!--                         <a style="margin-left:1rem;display:flex;align-items:center;cursor:pointer;" id="word-cloud-csv" target="_blank">Download CSV</a> -->
                    </div>
                    <div class="data-table table-responsive" style="min-height: 300px; height: 50vh;"id="word-cloud-container">
                        Loading...
                    </div>
<!--                     <canvas id="myCanvas" width="1000px" height="600px" style="max-height: 100%;"></canvas> -->

                </div>
            </div>
        </div>
       {% include "includes/graphs/sentiment-trend.html" %} 
       {% include "includes/graphs/overall-sentiment.html" %} 
       {% include "includes/graphs/source.html" %} 
       {% include "includes/graphs/aspects-count.html" %} 
       {% include "includes/graphs/emotion-aspect-co-occurrence.html" %} 
       {% include "includes/graphs/aspect-co-occurrence.html" %} 
       {% include "includes/graphs/aspect-by-sentiment-percentage.html" %} 
       {% include "includes/graphs/aspect-by-sentiment-absolute.html" %} 
       {% include "includes/graphs/aspect-topic-tree-map.html" %} 
       {% include "includes/graphs/entity-by-sentiment.html" %} 
       {% include "includes/graphs/classification-by-sentiment.html" %} 
       {% include "includes/graphs/most-common-chunks.html" %} 
       
	   {% include "includes/graphs/map.html" %} 
	   {% include "includes/tables/stc-tables.html" %} 

       {% include "includes/tables/aspect-topic-breakdown.html" %} 
       {% include "includes/tables/entities-table.html" %} 
       {% include "includes/tables/top-entities-per-aspect.html" %} 
       {% include "includes/tables/top-entities-per-aspect.html" %} 

	   {% if project.popup_text %}
	   <div class="modal hide fade" id="static-content">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">{{ project.popup_title }}</h5>
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close"
						>
							<i class="fe fe-x-circle"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="white modal-data">
							{{ project.popup_text|markdownify }}
						</div>
					</div>
				</div>
			</div>
		</div>

	   <script type="text/javascript">
			$(window).on('load', function() {
				$('#static-content').modal('show');
			});
		</script>
	   {% endif %}

      </div>
    </div>
  </div>

{% include "includes/tables/data-items.html" %}
{% include "includes/project-details/delete-modal.html" %}
{% include "includes/project-details/more-filters-modal.html" %}

<div style="position:fixed;top:0;right:0;left:0;padding:40px;bottom:0;z-index:1000;overflow:auto;display:none;background-color: rgba(220,220,220,0.5);" class="row" id="word-cloud-modal">
    <div class="col-12 project-card" style="overflow:auto;">
        <div class="project-card-inner">
            <div class="chart-title align-items-center d-flex flex-wrap">
				<h4 class="col p-0">Word Cloud</h4>
                <div class="col-auto p-0 d-flex flex-wrap ">
            <button type="button" class="close" aria-label="Close" id="close-word-cloud-modal">
                <span aria-hidden="true" style="color:black;margin-left:1rem;">X</span>
            </button>
                </div>
            </div>
            <div class="" id="word-cloud-modal-container" style="display:flex;flex-direction:row;justify-content:center">
            </div>
        </div>
    </div>
</div>

<script>
let dataTableModalContainer = document.querySelector("#data-table-modal")
let dataTableModalCloseButton = document.querySelector("#close-data-table-modal")
dataTableModalCloseButton.addEventListener("click", (e) => {
    dataTableModalContainer.style.display = 'none'
    document.querySelector("#word-cloud-modal-container").innerHTML = ""
})
</script>
<script src="/static/assets/js/project-details.js"></script>
{% endblock %}
