<div class="col-12 project-card" data-role="graph-table-container" data-graph-table="data-table">
    <div class="project-card-inner">
      <div class="chart-title align-items-center d-flex flex-wrap">
        <h4 class="col p-0">Data Items <a href="#" data-toggle="tooltip" data-placement="top" title="Display of raw data. This data can be exported to CSV or visualized as a word cloud">
            <i class="fe fe-help-circle"></i>
          </a> </h4>
        <div class="col-auto p-0 d-flex flex-wrap ">
        <div class="per-page align-items-center d-flex">
          Show <select class="custom-select" id="data-table-page-size">
            <option value="10" selected>10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
          </select> Entries
        </div>
<!--               <a style="margin-left:1rem;display:flex;align-items:center;cursor:pointer;" id="data-items-table-show-word-cloud" target="_blank">Show Word Cloud</a> -->
        <a style="margin-left:1rem;display:flex;align-items:center;cursor:pointer;" id="show-word-cloud-data-items-table" target="_blank">Show Word Cloud</a>
        <a style="margin-left:1rem;display:flex;align-items:center;cursor:pointer;" id="data-items-table-csv" target="_blank">Download CSV</a>
        </div>
      </div>
      <div class="data-table table-responsive">
        <table class="table table-striped table-borderless">
          <thead>
            <tr>
              <th scope="col">
                DATE <span class="data-short">
                  <a href="#" class="active">
                    <i class="fe fe-chevron-up"></i>
                  </a>
                  <a href="#">
                    <i class="fe fe-chevron-down"></i>
                  </a>
                </span>
              </th>
              <th scope="col" class="twitter-col">
                TEXT <span class="data-short">
                  <a href="#">
                    <i class="fe fe-chevron-up"></i>
                  </a>
                  <a href="#">
                    <i class="fe fe-chevron-down"></i>
                  </a>
                </span>
              </th>
              <th scope="col"  >
                SOURCE <span class="data-short">
                  <a href="#">
                    <i class="fe fe-chevron-up"></i>
                  </a>
                  <a href="#">
                    <i class="fe fe-chevron-down"></i>
                  </a>
                </span>
              </th>
              <th scope="col" class="text-center">
                WEIGHTED <span class="data-short">
                  <a href="#">
                    <i class="fe fe-chevron-up"></i>
                  </a>
                  <a href="#">
                    <i class="fe fe-chevron-down"></i>
                  </a>
                </span>
              </th>
              <th scope="col" class="text-center" >
                RAW <span class="data-short">
                  <a href="#">
                    <i class="fe fe-chevron-up"></i>
                  </a>
                  <a href="#">
                    <i class="fe fe-chevron-down"></i>
                  </a>
                </span>
              </th>
              <th scope="col" class="text-center" >
                LANGUAGE <span class="data-short">
                  <a href="#">
                    <i class="fe fe-chevron-up"></i>
                  </a>
                  <a href="#">
                    <i class="fe fe-chevron-down"></i>
                  </a>
                </span>
              </th>
            </tr>
          </thead>
          <tbody id="data-table-content">
          </tbody>
        </table>
      </div>
      <div class="table-bottom" id="data-table-pagination">
      </div>
    </div>
  </div>
